APP_NAME=MyCalculator
APP_ENV=production
APP_KEY=base64:d9EjHCNuGl9c3q5G4AlMxJ1HDM1mYw+JQpnGN4+YtWQ=
APP_DEBUG=false
APP_URL=http://localhost:8199
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_TIMEZONE=UTC
LOG_CHANNEL=stderr
LOG_LEVEL=debug
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
